body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.caixa_principal {
    align-items: center;
    border-radius: 20px;
    border: 1px solid;
    box-shadow: 10px 10px 20px;
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 0 20px 20px 20px;
}
.caixa_principal h1{
    font-size: 2.5rem;
    text-align: center;
}
.caixa__formulario {
    box-shadow: 10px 10px 20px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 50px;
}
.nome {
    border-radius: 20px;
    padding: 0.5rem;
}
.caixa__motivoContato {
    margin-top: 20px;
}
.cancelamento {
    background-color: #FF6347;
}
.caixa__btn {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.btn {
    background-color: yellowgreen;
    border: none;
    border-radius: 15px;
    color: blue;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px;
}
.btn:hover{
    box-shadow: 0px 0px 15px;
}
.campoTexto {
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 1.5rem;
    height: 146px;
    padding: 20px;
    width: 874px;
}
.rodape {
    display: flex;
    flex-direction: column;
    gap: 16px;
}