.btn__registro {
    margin: 20px;
}
.btns {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 20px;
}
@media screen and (min-width: 0) {
    .caixa__btn {
        padding: 10px;
    }
    .btn {
        background-color: yellowgreen;
        border: none;
        border-radius: 15px;
        color: blue;
        cursor: pointer;
        font-size: .8rem;
        font-weight: 500;
        padding: 8px;
    }
}

@media screen and (min-width: 780px) {
    .caixa__btn {
        padding: 20px;
    }
    .btn {
        background-color: yellowgreen;
        border: none;
        border-radius: 15px;
        color: blue;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 700;
        padding: 10px;
    }
    .btn:hover{
        box-shadow: 0px 0px 15px;
    }
}

@media screen and (min-width: 1024px) {
    .caixa__btn {
        display: flex;
        justify-content: center;
        padding: 20px;
    }
    .btn {
        background-color: yellowgreen;
        border: none;
        border-radius: 15px;
        color: blue;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 700;
        padding: 10px;
    }
    .btn:hover{
        box-shadow: 0px 0px 15px;
    }
}