.cabecalho {
    display: flex;
    flex-direction: column;
}
.cabecalho__titulo {
    text-align: center;
    color: #FFFFFF;
}
.lista {
    display: flex;
    gap: 16px;
    list-style: none;
    justify-content: center;
}
.link__navegacao a {
    border: 1px solid;
    padding: 2px;
    text-decoration: none;
    color: #FFFFFF;
}
.link__navegacao a:hover {
    text-decoration: underline 5px;
    color: #004F00;
    background-color: #000000;
}
