// Text
$color-primary-text: #EEEEEE;


// Placeholder

$color-placeholder-text: #A2A2A2;

// Background

$color-primary-bg: #222831;
$color-secondary-bg: #31363F;


// outros

$color-primary-btn: #76ABAE;
$color-secondary-btn: #102C57;
$color-tertiary-btn: #C3E2C2;
$color-quaternary-btn: #820300;