/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  background-color: #222831;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header__container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 4.6rem 2rem;
}
.header__container .title {
  font-size: 2rem;
  color: #EEEEEE;
  font-weight: 600;
}
.header__container .nav__container .link {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.header__container .nav__container .link .link__navegation a {
  color: #EEEEEE;
  text-decoration: none;
}
.header__container .nav__container .link .link__navegation a:hover {
  -webkit-text-decoration: underline 0.2rem;
          text-decoration: underline 0.2rem;
}

.form {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #31363F;
  padding: 2.5rem;
}
.form .input__content {
  display: flex;
  gap: 1.25rem;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.form .input__content .input__box {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
}
.form .input__content .input__box .form__input {
  border: none;
  border-bottom: 1px solid #A2A2A2;
  border-radius: 0.25rem;
  outline: none;
  padding: 1.25rem 0.75rem;
}
.form .input__content .input__box .form__input:focus ~ .placeholder, .form .input__content .input__box .form__input:focus ~ .placeholder--select {
  font-size: 0.875rem;
  left: 2%;
  top: 8%;
  transition: 0.5s;
}
.form .input__content .input__box .form__input:focus {
  border-bottom: 2px solid #A2A2A2;
}
.form .input__content .input__box .placeholder, .form .input__content .input__box .placeholder--select {
  font-size: 1rem;
  color: #A2A2A2;
  position: absolute;
  top: 35%;
  left: 5%;
}
.form .input__content .input__box .placeholder--select {
  font-size: 0.875rem;
  left: 2%;
  top: 8%;
  transition: 0.5s;
}
.form .input__content .input__box .active {
  font-size: 0.875rem;
  left: 2%;
  top: 8%;
  transition: 0.5s;
}
.form .input__box {
  position: relative;
}
.form .input__box .form__select, .form .input__box .form__textarea {
  width: 341px;
  border: none;
  border-bottom: 1px solid #A2A2A2;
  border-radius: 0.25rem;
  outline: none;
  padding: 1.25rem 0.75rem;
}
.form .input__box .form__textarea {
  height: 200px;
}
.form .input__box .placeholder--select, .form .input__box .placeholder--textarea {
  font-size: 1rem;
  color: #A2A2A2;
  position: absolute;
  top: 35%;
  left: 5%;
  font-size: 0.875rem;
  left: 2%;
  top: 8%;
  transition: 0.5s;
}
.form .input__box .placeholder--textarea {
  top: 2%;
}
.form .btn {
  background-color: transparent;
  border: 1px solid #76ABAE;
  color: #EEEEEE;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.75rem 1rem;
}
.form .btn:hover {
  background-color: #76ABAE;
}
.form .btns {
  display: flex;
  gap: 1.25rem;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 360px;
}
.form .btns .btn:hover:nth-child(1) {
  background-color: #102C57;
}
.form .btns .btn:hover:nth-child(2) {
  background-color: #C3E2C2;
}
.form .btns .btn:hover:nth-child(3) {
  background-color: #820300;
}
.form .btns .btn:nth-child(1), .form .btns .btn:nth-child(2) {
  width: 100%;
}/*# sourceMappingURL=style.css.map */