.caixa__formulario {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 0) {
    .caixa__formulario {
        border: 1px solid;
        border-radius: 5px;
        box-shadow: 2px 2px 4px;
        padding: 5px;
        margin-bottom: 5px;
        gap: 4px;
    }
}

@media screen and (min-width: 780px) {
    .caixa__formulario {
        border: 1px solid;
        border-radius: 5px;
        box-shadow: 5px 5px 10px;
        padding: 20px;
        margin-bottom: 5px;
        gap: 8px;
    }
}

@media screen and (min-width: 1024px) {
    .caixa__formulario {
        box-shadow: 10px 10px 20px;
        border: 1px solid;
        gap: 8px;
        padding: 50px;
    }
}